.titulo {
   color: white;
   margin: 0;
   text-align: center;
}

.container {
   max-width: 660px;
   overflow-x: hidden;
}

.headline h1 {
   margin-bottom: 16px;
 }
 
.headline h2 {
   margin-bottom: 20px;
}

.headline {
   margin: 10px;
}

.highlight-orange {
   color: #FFA500;
   font-weight: bold;
}

.highlight-red {
   color: #FFFF00;
   font-weight: bold;
}

.ref-1 {
   background-color: #FFFFFF;
   padding-top: 32px;
}

.ref-2 {
   background-color: #FFFFFF;
}

.buygoods {
   background-color: #F7F7F7;
}

.buygoods-footer {
   background-color: #000000;
}

.section-full-width {
   width: 100%;
   box-sizing: border-box;
}

.footer {
   display: flex;
   flex-direction: column;
   align-items: stretch;
}

.buttonPresentation {
   margin-top: 20px;
   margin-bottom: 50px;
}

.buttonCheckout {
   margin-top: 8px;
}

.buttonCheckout div {
   margin-top: 8px;
   margin-bottom: 24px;
}

/****************RESPONSIVIDADE****************/

/* Estilos para celulares */
@media only screen and (max-width: 600px) {
   .ref-1 img {
      width: 80%;
   }

   .ref-2 img {
      width: 85%;
   }

   .buygoods img {
      width: 85%;
   }

   .buygoods-footer img {
      width: 80%;
      padding-top: 24px;
   }
}

/* Estilos para tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
   .ref-1 img {
      width: min(80%, 650px);
   }

   .ref-2 img {
      width: min(85%, 650px);
   }

   .buygoods img {
      width: min(85%, 650px);
   }

   .buygoods-footer img {
      width: min(80%, 650px);
      padding-top: 24px;
   }
}

/* Estilos para computadores (desktop) */
@media only screen and (min-width: 769px) {
   .ref-1 img {
      width: min(80%, 660px);
  }
  
  .ref-2 img {
      width: min(85%, 660px);
  }
  
  .buygoods img {
      width: min(85%, 660px);
  }
  
  .buygoods-footer img {
      width: min(80%, 600px);
      padding-top: 24px;
  }  
}

.loadingPage {
   background-color: #000000;
   color: #F7F7F7;

   width: 100vw;
   height: 100vh;

   position: absolute; /* Absoluto em relação ao contêiner pai */
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   z-index: 1000;

   flex-direction: column;
}

.loadingPage p {
   margin-left: 16px;
   margin-right: 16px;

   margin-top: 36px;
}